{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <h1 class='text-center'>List of All Universities</h1>
    {% if professors %}
    {% for p in professors %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if p.image and p.image.url %}
                <a href={% url 'professor' p.id %}>
                    <img class='iimg-fluid img-thumbnail' src="{{p.image.url}}" alt="{{p.name}}">
                </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">{{p.email}}</p>
                    <a href={% url 'department' p.department_id %}>
                        {{p.department.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There Are No Universities In The Database</p>
    {% endif %}
</div>
{% endblock %}