{% extends 'base.html' %}

{% block content %}
<div class="">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if p.image and p.image.url %}
                <img class='iimg-fluid img-thumbnail' src="{{p.image.url}}" alt="{{p.name}}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">{{p.email}}</p>
                    <a href={% url 'department' p.department_id %}>
                        {{p.department.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}