{% extends 'base.html' %}

{% block title %}Log In - OPENABET{% endblock %}

{% block content %}
<!-- Login card -->
<form class="login-form form-validate" method="post">
  {% csrf_token %}
  {% load static %}
  <div class="card mb-0">
    <div class="card-body">
      <div class="text-center mb-3">
        <img src="{% static "global_assets/images/openabet.png" %}" alt="OpenAbet" width="100%" height="100%">
        <h5 class="mb-0">Log in to your account</h5>
        <span class="d-block text-muted">Your credentials</span>
        {% for error in form.non_field_errors %}
        <span class="d-block text-warning">{{error}}</span>
        {% endfor %}
      </div>

      <div class="form-group form-group-feedback form-group-feedback-left">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        <div class="form-control-feedback">
          <i class="icon-user text-muted"></i>
        </div>
      </div>

      <div class="form-group form-group-feedback form-group-feedback-left">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <div class="form-control-feedback">
          <i class="icon-lock2 text-muted"></i>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log In<i class="icon-circle-right2 ml-2"></i></button>
      </div>
      <div class="form-gorup text-center">
        <a href="{% url 'signup' %}" class="">Sign Up</a>
      </div>
    </div>
  </div>
</form>
<!-- /login card -->
{% endblock %}