{% extends 'base.html' %}

{% block content %}

<div class='container'>
        <h1 class='text-center'>List of All Universities</h1>
        {% if all %}
            {% for u in all %}
            <div class="container">
                <h3>{{u.name}}</h3>
                <a href={% url 'university' u.id %}>
                    <img class='img-thumbnail' src="{{u.image.url}}" alt="{{u.name}}">
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>There Are No Universities In The Database</p>
        {% endif %}
</div>
{% endblock %}