{% extends 'base.html' %}

{% block content %}
<div class='container vertical-center'>
    <div class='jumbotron index-container'>
        <h1>{{c.name}}</h1>
        <img class='img-fluid' src="{{c.image.url}}" alt="{{c.name}}">
        <h4>Description</h4>
        <p>{{c.description}}</p>
        {% if ds %}
        {% for d in ds %}
        
        <div class="container">
            <h3>{{d.name}}</h3>
            <a href={% url 'department' d.id %}>
                <img class='img-thumbnail' src="{{d.image.url}}" alt="{{d.name}}">
            </a>
        </div>
      
        <p>{{d.id}}</p>
        {% endfor %}
        
        {% else %}
        <p>NOPE</p>
        {% endif %}
    </div>
</div>
{% endblock %}