{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <h1 class='text-center'>List of All Campuses</h1>
    {% if campuses %}
    {% for c in campuses %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if c.image and c.image.url %}
                <a href={% url 'campus' c.id %}>
                    <img class='img-fluid img-thumbnail' src="{{c.image.url}}" alt="{{c.name}}">
                </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{c.name}}</h5>
                    <a href={% url 'university' c.university_id %}>
                        {{c.university.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>There Are No Campuses In The Database</p>
    {% endif %}
</div>
{% endblock %}